# Visual Studio
.vs/

# Ignore build output of ALL projects
**/bin/
**/obj/

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]ny CPU/

# .NET Core / ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Secrets (KHÔNG BAO GIỜ ĐƯỢC PUSH)
OJT_RAG.API/client_secret.json
OJT_RAG.API/refresh_token.txt
